/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$navbar-bg: #0F0F55;
$navbar-fg: white;
$navbar-link-hover-fg: #00B8F2;
$navbar-link-active-fg: white;
$navbar-hl: #00B8F2;
$footer-bg: #0F0F55;
$footer-fg: white;
$link-color: #2b7bb9;
$font-family-sans-serif: "poppins", sans-serif;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #0f0f55;
}

h1.title {
  font-weight: 600;
  color: white;
}